<br />
<h1>Tucson</h1>
<p>Weather Forecast</p>
Current Tempature: <%= @city.current_temp["temp"] %>
<br /> 
Feels Like: <%= @city.current_temp["feels_like"] %>
<br /> 
Current Weather: <%= @city.current_weather["main"] %>