@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4; 
  text-align: center;
}

 body {
  background: image_url('ripples.png');
  font-family: 'Carter One', cursive;
  }

.navbar {
  background: image_url('ripples.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-size: 50px;
    text-rendering: auto;
    line-height: 1;
  }

  h1 {font-size: 50px;
    text-align: center; }

  p {font-size: 30px;
    font-weight: bold;}

